/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    color: #333;
}

/* Encabezado */
header {
    background-color: #f8f8f8;
    padding: 15px 20px;
    box-shadow: 0 2px 4px gray;
    display: flex;
    justify-content: center;
}

.left-icon {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 1000;
    background-color: transparent; /* Fondo transparente */
    padding: 5px; /* Opcional: puedes ajustar el padding si es necesario */
}

.left-icon img {
    width: 50px;
    height: auto;
    background-color: transparent; /* Asegura que el fondo de la imagen sea transparente */
}
nav {
    background-color: #333;
}

.nav-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center; /* Centra los elementos horizontalmente */
}

.nav-links li {
    margin: 0;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    padding: 15px 20px;
    display: block;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
}

/* Efecto hover */
.nav-links a:hover {
    background-color: #555;
    color: #0f2542; /* Cambia el color del texto al hacer hover */
    border-radius: 5px; /* Opcional: agrega bordes redondeados */
    transform: scale(1.1); /* Opcional: agranda el enlace ligeramente */
}




/* Carrusel */
.hero {
    position: relative;
    width: 100%;
    height: 40vh;
    overflow: hidden;
    

}

.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}

.overlay {
    padding: 20px;
    border-radius: 10px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #f04;
    color: #fff;
    text-decoration: none;
    border-radius: 20px;
}

/* Galería de Productos */
.product-gallery {
    padding: 40px 20px;
    text-align: center;
}

.product-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.product-item {
    background-color: #f8f8f8;
    padding: 20px;
    border-radius: 10px;
    width: calc(33.333% - 40px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.product-item img {
    max-width: 50%;
    height: auto;
    margin-bottom: 10px;
}

.product-item h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.product-item p {
    font-size: 16px;
    margin-bottom: 10px;
}

.product-item .btn {
    background-color: #00bcd4;
    color: #fff;
}

.polo1 { 
    width: 295px !important;
    height: 275px !important;
    
}

.polo-info {
    padding: 50px 20px;
    text-align: center;
    background-color: #f4f4f4;
    border-top: 5px solid #333; /* Línea superior para destacar la sección */
}

.polo-info h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #333;
}

.polo-info p {
    font-size: 1.2em;
    color: #555;
    line-height: 1.6;
    margin-bottom: 15px;
}

.polo-info p:last-child {
    margin-bottom: 0;
}



/* Footer */
footer {
    background-color: #333;
    color: #fff;
    padding: 40px 20px;
    text-align: left;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-section {
    flex: 1;
    padding: 20px;
}

.footer-section h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.footer-section ul {
    list-style: none;
}

.footer-section ul li {
    margin-bottom: 5px;
}

.footer-section ul li a {
    color: #fff;
    text-decoration: none;
}

.footer-section ul.social-links {
    display: flex;
    gap: 10px;
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
    border-top: 1px solid #555;
    padding-top: 10px;
    font-size: 14px;
}
